# Frontend
frontend/app/module.config.ts
frontend/tsconfig.json
frontend/node_modules/

# Python
*.egg-info
*~
*.orig
__pycache__
*.py[cod]
instance/
.webassets-cache
node_modules
*.swp
.tags*
venv*
tmp_*
*.sublime-project
*.sublime-workspace
.idea
.vscode*
.ropeproject
.spyderproject
.spyproject
.ipynb_checkpoints
.flake8
.pylintrc
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.mypy_cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.swp
*.swo
