# Emplacement du fichier d'export RDF
# Valeur par défaut

# nb_days_keep_file = 15

# Emplacement des exports
#   {GN_HOME} est à remplacer par l'emplacement du dossier racine de GeoNature
# export_schedules_dir = '{GN_HOME}/backend/static/exports/schedules/'
# export_dsw_dir = '{GN_HOME}/backend/static/exports/dsw/'
# export_dsw_filename = 'export_dsw.ttl'