<div
  id="all"
  class="container-fluid"
>
    <div class="container card flex" id="export-container">
        <!-- Liste des exports disponibles au téléchargement -->
        <div class="search">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-search"></i></div>
            </div>
            <input
            id="search"
            [formControl]="search"
            type="text"
            class="form-control"
            placeholder="{{ 'Actions.Search' | translate }} un export"
            aria-label="Search"
            aria-describedby="basic-addon1"
            data-qa="import-list-toolbar-search"
          />
          </div>

        </div>
        <div *ngIf="pagination.total > 0" id="list-export">
          <div
            class="card mb-3 export"
            *ngFor="let export of exports; let i = index"
          >
            <div class="card-body">
                <h5 class="card-title">
                  <span
                    class="badge badge-info"
                    title="ID de l'export"
                    data-toggle="tooltip"
                  >
                    {{ export.id }}
                  </span>
                  {{ export.label }}
                </h5>
                <div class="export-content">
                  <div class="description">
                    <p class="card-text">{{ export.desc }}</p>
                  </div>
                  <div class="button-set">
                    <button
                      id="{{ export.id }}"
                      class="btn btn-primary btn-sm"
                      (click)="selectFormat(export.id, export_download)"
                    >
                      Télécharger
                    </button>
                    <a
                      class="btn btn-warning btn-sm"
                      href="{{ api_endpoint }}/swagger/{{ export.id }}"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      API JSON
                    </a>
                    <button
                    value="click to copy"
                    class="btn btn-secondary btn-sm"
                    type="button"
                    [ngbTooltip]="'Token '+objectToken[i]?.token+' copié'"
                    [autoClose]="'outside'"
                    triggers="manual"
                    #t="ngbTooltip"
                    *ngIf="objectToken[i].token != null"
                    [cdkCopyToClipboard]="objectToken[i]?.token"
                    (click)="t.open()"
                    >
                      Token
                    </button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div *ngIf="pagination.total == 0">
          <div class="alert alert-warning text-center">Aucun export n'est disponible</div>
        </div>
        <mat-paginator
          (page)="handlePageChange($event)"
          [pageSize]="pagination.per_page"
          [pageIndex]="pagination.page - 1"
          [length]="pagination.total"
          [pageSizeOptions]="[5, 10, 20]"
          class="mb-2"
        ></mat-paginator>

    </div>

  <!-- Modal Téléchargement Popup-->
  <ng-template
    #export_download
    let-c="close"
    let-d="dismiss"
  >
    <div class="modal-content">
      <!-- Modal content-->
      <div class="modal-header">
        <h4 class="modal-title">Configuration de l'export</h4>
      </div>

      <div class="modal-body">
        <!-- Formulaire pour le choix des standards et des formats de téléchargement des fichiers -->
        <form [formGroup]="modalForm">
          <label>Choisissez un format</label>
          <select
            class="form-control"
            id="formatSelection"
            formControlName="formatSelection"
            required
            autocomplete="off"
            (change)="downloading = false"
          >
            <option
              *ngFor="let item of exportFormat | keyvalue"
              value="{{ item.key }}"
              [disabled]="
                !item.value['geofeature'] ? false : !_export.geometry_field ? true : false
              "
            >
              {{ item.value['label'] }}
            </option>
          </select>
          <br />
          <div
            class="wrapper-licence"
            [ngClass]="{ 'checkbox-invalid': !modalForm.controls['exportLicence'].valid }"
          >
            <div
              class="form-check"
              id="checkLicence"
            >
              <input
                type="checkbox"
                class="form-check-input"
                id="exportLicence"
                formControlName="exportLicence"
                required
              />
              <label
                class="form-check-label"
                for="exportLicence"
              >
                Accepter la licence
                <a
                  href="{{ _export.licence.url_licence }}"
                  alt="Lire la licence"
                  title="Lire la licence"
                  target="_blank"
                >
                  <b>{{ _export.licence.name_licence }}</b>
                </a>
              </label>
            </div>
          </div>
        </form>
      </div>
      <!-- Bouton de fermeture de la modal pop-up ou lancement du téléchargement -->
      <div
        class="modal-footer"
        id="choicePopup"
      >
        <button
          type="submit"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="cancel_download()"
        >
          Annuler
        </button>
        <button
          [disabled]="!modalForm.valid"
          id="widthButton"
          type="submit"
          class="btn btn-success"
          (click)="download()"
        >
          OK
        </button>
      </div>
    </div>
  </ng-template>
</div>
