.wrapper {
  height: 94vh;
}

form.ng-invalid {
  border-left: none !important;
}

.checkbox-invalid {
  border-left: 5px solid red;
  padding-left: 3px;
}

.ctn-token {
  text-align: end;
  font-size: medium;
  padding-top: 5px;
}
